TWILIO_ACCOUNT_SID=AC6d04db55d088d6928088d70ad255ebc8

# The Twilio number for making outbound and receiving inbound calls
# Purchase a Twilio phone number in the console
# https://www.twilio.com/console/phone-numbers/search
TWILIO_CALLER_ID=+19705162243

# SID of your TwiML Application
# Create a new TwiML app in the console
# https://www.twilio.com/console/voice/twiml/apps
TWILIO_TWIML_APP_SID=AP7617f8b76f9834b6c5c6761b6659379e

# Your REST API Key information
# Create a new key in the console (the TWILIO_API_KEY will be the SID shown starting with 'SK')
# https://www.twilio.com/console/project/api-keys
TWILIO_API_KEY=SK0d2fd7162d6cab1da7804f366e056864
TWILIO_API_SECRET=49db64d0ee9260d8bb8493d3cfa59a12
